@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@font-face {
    font-family: "baasic";
    src: url("basiic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --background-colour: #fffaf0;
    --container-colour: #f2dabde6;
    --border-colour: #7c6f64;
    --text-colour: #504945;
    --linkcolour: #1f868b;
    --background-url: url("bg.png");

    --title-bar-colour: #e5c9ef;
    --title-text-colour: #413338;
    --text-white: #f2faf5;
    --text-dark: #011f1f;
    --window-background-colour: #bed8d8;
    --background-colour: #bbedf9;
    --true-background-colour: #92b4bc;
    --button-colour: #669589;
    --button-hover: #70ac9e;
    --window-minmax-colour: #669295;
    --window-close-colour: #d4a49f;
}

:root.light{
    --background-colour: #fffaf0;
    --container-colour: #f2dabde6;
    --border-colour: #7c6f64;
    --text-colour: #504945;
    --linkcolour: #1f868b;
}

:root.dark{
    --background-colour: #504945;
    --container-colour: #7c6f64e6;
    --border-colour:  #b19d87;
    --text-colour: #f2dabd;
    --linkcolour: #5fe4eb;
}

/* Window Styles */

.window-container{
    position: absolute;
    margin: 0;
    padding: 0;
    user-select: none;
}

.window-title-bar {
    font-family: "Silkscreen", sans-serif;
    font-size: 16px;
    background-color: var(--title-bar-colour);
    color: var(--title-text-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid var(--window-background-colour);
    padding: 10px;
    cursor: move;

}

.window-title {
}

.window-controls {
    display: flex;
    justify-content: space-between;
}

#window-minmax {
    background-color: var(--window-minmax-colour);
}

#window-close {
    background-color: var(--window-close-colour);
}

.window-controls button {
    text-align: center;
    color: var(--text-white);
    border: 2px solid var(--window-background-colour);
    font-size: 12px;
    width: 40px;
    height: 24px;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

.window-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0;
    background-color: var(--title-bar-colour);
    border-radius: 0 0 5px 5px;
    font-size: 15px;
    color: var(--text-dark);
}


.post-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #eaeaea;
    border: 3px solid var(--window-background-colour);
    border-radius: 5px;
    max-width: min-content;

}

.cat-img{
    display: flex;
    align-self: center;
    width: fit-content;
    max-width: 450px;
    max-height: 450px;
}

.caption{
    width: fit-content;
    word-wrap: break-word;
    padding: 8px;
}

.caption p{
    margin: 0;
    font-family: "baasic", sans-serif;
    color: #282927;
}

.url{
    text-align: left;
    font-family: "baasic", sans-serif;
    font-size: 12px;
    padding: 4px;
    color:#1d4e50;
    width: fit-content;
}

.window-border {
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 5px;
    box-shadow: -5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

#darkModeToggle{
    text-decoration: none;
    color: transparent;  
    text-shadow: 0 0 0 var(--text-colour);
    font-size: large;
}
body{
    margin-left: 5%;
    margin-right: 5%;
    background-image: var(--background-url);
    background-repeat: repeat;
    background-color: var(--background-colour);
}

header, footer{
    margin-bottom:10px;
    margin-top:10px;
}

header{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    align-items: center;
    margin-bottom: 40px;
}

header, footer{
    background-color: var(--container-colour);
    padding: 10px;
    border: 5px var(--border-colour) solid;
    border-radius: 20px;
}

#container {
    max-width: 400px;
    max-height: 400px;


}

#image-container{
    max-width: 400px;
    max-height: 400px;

}





h1{
    font-family: 'Roboto Mono 700 Italic', monospace;
    color:var(--text-colour);
    text-align: center;
}
p{
    font-family: 'Roboto Serif Light 300', serif;
    color:var(--text-colour);
    text-align: center;
}
a{
    font-family: 'Roboto Serif Light 300', serif;
    color:var(--linkcolour)
}



/*
@media (max-width: 1200px) {
    #image-container {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 1000px) {
    header{
        grid-template-columns: 8% 1fr 8%;
    }
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
    #image-container {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 600px) {
    header{
        grid-template-columns: 10% 1fr 10%;
    }
    body{
        margin-left: 8%;
        margin-right: 8%;
    }
    #image-container {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

*/
